@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(1, 90%, 64%);
  --white: hsl(0, 0%, 100%);
  --blue: hsl(219, 85%, 26%);
  --hover-blue: hsl(219, 85%, 40%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue1: hsl(211, 68%, 94%);
  --light-grayish-blue2: hsl(205, 33%, 90%);
  --light-grayish-blue3: hsl(211, 18%, 70%);
  --grayish-blue: hsl(219, 12%, 48%);
  --dark-grayish-blue: hsl(219, 10%, 35%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

.clr-dark-blue {
  color: var(--very-dark-blue);
}

.bg-unread {
  background-color: var(--very-light-grayish-blue);
}

.unread {
  margin-left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  background-color: var(--red);
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  background-color: var(--very-light-grayish-blue);
  color: var(--grayish-blue);
  display: grid;
  justify-content: center;
  align-content: center;
}

img {
  width: 100%;
  display: block;
}

#root {
  width: 100%;
  max-width: 730px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px var(--light-grayish-blue2);
  border-radius: 1.4rem;
}

main {
  margin: 3.1rem 3.1rem 0;
}

header,
header div {
  display: flex;
}
header {
  justify-content: space-between;
}

h1 {
  font-size: 2.4rem;
}

header span {
  margin: 3.2px 0 0 1.3rem;
  width: 3.2rem;
  height: 2.6rem;
  display: grid;
  place-content: center;
  background-color: var(--blue);
  color: var(--very-light-grayish-blue);
  border-radius: 7px;
  font-weight: 800;
}

.btn {
  margin-top: 5px;
  background-color: transparent;
  color: var(--dark-grayish-blue);
  border: none;
  font-size: 1.6rem;
  font-family: "Plus Jakarta Sans";
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

ul {
  margin-top: 3.2rem;
  display: grid;
  row-gap: 0.8rem;
}

.flex-container {
  display: flex;
  padding: 1.8rem 1.9rem;
  border-radius: 8px;
}

.avatar-img {
  width: 4.4rem;
  height: 4.4rem;
}

.notification-content {
  margin-left: 2rem;
  word-spacing: 1px;
  line-height: 1.3;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-weight: 800;
}

.imp {
  color: var(--blue);
}

.time {
  margin-top: 2.5px;
  color: var(--light-grayish-blue3);
}

.dm {
  margin-block: 1.4rem 0.2rem;
  padding: 1.7rem 1.9rem;
  border: 1px solid var(--light-grayish-blue1);
  border-radius: 4px;
  word-spacing: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--light-grayish-blue1);
  }
}

.pictures {
  width: 5.1rem;
  height: 5rem;
  display: grid;
  border-radius: 8px;
  place-content: center;
  &:hover {
    background-color: var(--light-grayish-blue2);
  }
}

.pictures img {
  width: 4.5rem;
  height: 4.5rem;
  place-content: center;
}

a:hover,
.btn:hover {
  color: var(--hover-blue);
}

/* styling for mobiles */
@media screen and (max-width: 500px) {
  body {
    font-size: 1.4rem;
  }
  main {
    margin: 2rem 1.6rem;
  }
  h1 {
    font-size: 2rem;
  }
  .btn {
    font-size: 1.4rem;
  }
  ul {
    margin-top: 2.8rem;
    row-gap: 1.4rem;
  }
  .flex-container {
    padding: 1rem 1.6rem 1.7rem;
  }
  .avatar-img {
    width: 4rem;
    height: 4rem;
  }
  .notification-content {
    margin-left: 1.2rem;
  }
}
