@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue1: hsl(211, 68%, 94%);
  --light-grayish-blue2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

.clr-dark-blue {
  color: var(--very-dark-blue);
}

html {
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}

body {
  font-size: 1.6rem;
  background-color: var(--very-light-grayish-blue);
  color: var(--dark-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  /* width: 100%; */
  display: block;
}

#root {
  margin-top: 63px;
  width: 100%;
  max-width: 730px;
  background-color: var(--white);
  box-shadow: 0px 0px 20px var(--light-grayish-blue2);
  border-radius: 1.4rem;
}

main {
  margin: 3.2rem;
}

header,
header div {
  display: flex;
}
header {
  justify-content: space-between;
}

h1 {
  font-size: 2.4rem;
}

header span {
  margin: 3.4px 0 0 1.3rem;
  width: 3.2rem;
  height: 2.6rem;
  display: grid;
  place-content: center;
  background-color: var(--blue);
  color: var(--very-light-grayish-blue);
  border-radius: 7px;
  font-weight: 800;
}

.btn {
  margin-top: 5px;
  background-color: transparent;
  color: var(--dark-grayish-blue);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
